<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School Management System | Contact Page</title>
    <script
        src="https://kit.fontawesome.com/42a182743f.js"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css" integrity="sha384-BY+fdrpOd3gfeRvTSMT+VUZmA728cfF9Z2G42xpaRkUGu2i3DyzpTURDo5A6CaLK" crossorigin="anonymous">
    <link rel="stylesheet" href="contact.css">
    <link rel="icon" href="logo2.png">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script type ="text/javascript">
        $(document).ready(function(){
            $('.toggle').click(function(){
                $('ul').toggleClass('active');
            })
        })
    </script>
</head>
<body>
    <section>
        <header>
            <a href="#" class="logo"><img src="logo2.png"></a>
            <a class="toggle">Menu</a>
            <ul class="">
                <li><a href="/navbar">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="/login">Login/SignUp</a></li>
            </ul>
        </header>
    </section>
    <section class="contact">
        <div class="content">
            <h2>Contact Us</h2>
            <p>A <b>web based platform</b> that allows students, teachers, parents and management to access their records anywhere anytime and can be in touch with each other at all times. So connect with us and grow your school.
                </p>
        </div>
        <div class="container">
            <div class="contactInfo">
                <div class="box">
                    <div class="icon">
                        <i class="fa-solid fa-location-dot"></i>
                    </div>
                    <div class="text">
                        <h3>Address</h3>
                        <p>SONE-A Hostel,<br>NIT Patna,<br>Patna,Bihar</p>
                    </div>
                </div>
                <div class="box">
                    <div class="icon">
                        <i class="fa-solid fa-phone"></i>
                    </div>
                    <div class="text">
                        <h3>Phone</h3>
                        <p>999-567-6888</p>
                    </div>
                </div>
                <div class="box">
                    <div class="icon">
                        <i class="fa-regular fa-envelope"></i>
                    </div>
                    <div class="text">
                        <h3>Email</h3>
                        <p>karann.ug23.ec@nitp.ac.in</p>
                    </div>
                </div>
            </div>
            <div class="contactForm">
                <form>
                    <h2>Send Message</h2>
                    <div class="inputBox">
                        <input type="text" name="" required="required">
                        <span>Full Name</span>
                    </div>
                    <div class="inputBox">
                        <input type="text" name="" required="required">
                        <span>Email</span>
                    </div>
                    <div class="inputBox">
                        <textarea required="required"></textarea>
                        <span>Type your Message...</span>
                    </div>
                    <div class="inputBox">
                        <input type="submit" name="" value="Send">
                    </div>
                </form>
            </div>
        </div>
    </section>

</body>
</html>