<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" href="logo2.png">
    <link rel="stylesheet" href="dashboard.css">
    <script
    src="https://kit.fontawesome.com/42a182743f.js"
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

</head>
<body>
    <section>
       <div class="main1">
        <div class="content1">
            <img class="image" src="/images/logo2.png" alt="">
        </div>
        <div class="content2">
            <p>Sri Sai Inter College</p>
        </div>
       </div>
       <div class="main2">
        <div class="search">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="search" placeholder="Search Students, Staffs, Events....">
        </div>
        <div class="profile">
            <div class="pimg"><img src="images/student.jpg" alt=""></div>
            <div class="p-cont">
            <p class="one">Ankur Verma</p>
            <p class="second">Teacher</p>
        </div>
            
        </div>
       </div>
    </section>
    <div class="container">
        <div class="one1">
            <div class="sec1">
                <h4>Main</h4>           
                <ul>
                    <li><a href="/dashboard">Dashboard</a></li>
                </ul>
            </div>
            <div class="sec2">
                <h4>Administration</h4>           
                <ul>
                    <li><a href="#">Academics</a></li>
                    <li><a href="https://www.topperlearning.com/">Study Material</a></li>
                    <li><a href="/start">Students Info</a></li>
                </ul>
            </div>
            <div class="sec3">
                <h4>Student</h4>           
                <ul>
                    <li><a href="/student_profile">Student Profile</a></li>
                    <li><a href="/fee">Student Fees</a></li>
                    <li><a href="/homework-section">Homework</a></li>
                    <li><a href="/dashboard">Transport</a></li>
                    <li><a href="/library">Library</a></li>
                </ul>
            </div>
            <div class="sec4">
                <h4>Exams</h4>           
                <ul>
                    <li><a href="/datesheet1">Date Sheet</a></li>
                    <li><a href="/syllabus">Syllabus</a></li>
                </ul>
            </div>
        </div>
        <div class="one2">
            <div class="overview">
                <div class="head1">
                    <h2>Overview</h2>
                </div>
                <div class="head2">
                    <div class="tbox">
                        <div class="timg">
                            <img src="images/student.jpg" alt="student">
                        </div>
                        <div class="tcont">
                            <p class = "tstu">Students</p>
                            <p class = "num">2000</p>
                        </div>
                    </div>
                    <div class="tbox">
                        <div class="timg">
                            <img src="images/teacher.jpg" alt="student">
                        </div>
                        <div class="tcont">
                            <p class = "tstu">Teachers</p>
                            <p class = "num">120</p>
                        </div>
                    </div>
                    <div class="tbox">
                        <div class="timg">
                            <img src="images/parents.jpg" alt="student">
                        </div>
                        <div class="tcont">
                            <p class = "tstu">Parents</p>
                            <p class = "num">2105</p>
                        </div>
                    </div>
                    <div class="tbox">
                        <div class="timg">
                            <img src="images/staff.jpg" alt="student">
                        </div>
                        <div class="tcont">
                            <p class = "tstu">Staff</p>
                            <p class = "num">83</p>
                        </div>
                    </div>
                
                </div>
            </div>
            <div class="lsection">
                <div class="dashboard">
                    <div class="dhead">
                        <h2>Dashboard</h2>
                        <select>
                            <option value="Class 1">Class 1</option>
                            <option value="Class 2">Class 2</option>
                            <option value="Class 3">Class 3</option>
                            <option value="Class 4">Class 4</option>
                            <option value="Class 5">Class 5</option>
                            <option value="Class 6">Class 6</option>
                            <option value="Class 7">Class 7</option>
                            <option value="Class 8">Class 8</option>
                            <option value="Class 9">Class 9</option>
                            <option value="Class 10">Class 10</option>
                            <option value="Class 11">Class 11</option>
                            <option value="Class 12">Class 12</option>
                        </select>
                    </div>
                    <div class="dmenu">
                        <ul>
                            <li>Admissions</li>
                            <li>Fees</li>
                            <li>Syllabus</li>
                            <li class ="result">Results</li>
                            <li>Transport</li>
                            <li>Finance</li>
                        </ul>
                    </div>
                    <div class="performance">
                        <div class="phead">
                            <h3>Students Performance</h3>
                        </div>
                        <div class="charts">
                            <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
                    

                        </div>
                    <div class="top">
                        <div class="top-a">
                            <div class="tophead">
                                <h3>Top Achievers</h3>
                            </div>
                            <div class="topans">
                                <div class="name1">Karan Nigam</div>
                                <div class="name1">Ashutosh</div>
                            </div>
                        </div>
                        <div class="top-a">
                            <div class="tophead">
                                <h3>Top Players</h3>
                            </div>
                            <div class="topans">
                                <div class="name1">Karan Nigam</div>
                                <div class="name1">Ashutosh</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="upcoming">
                <div class="uhead">
                    <h2>Upcoming Events</h2>
                </div>
                <div class="ubody">
                    <div class="ubox">
                        <div class="ub1">
                            <div class="ub11">
                                <p>Tuesday</p>
                            </div>
                            <div class="ub12">
                                <p>Today</p>
                            </div>
                        </div>
                        <div class="ub2">
                            <div class="udate">
                                <p>8</p>
                                <p>Apr</p>
                            </div>
                            <div class="uevent">
                                <p>Career Guidance Session</p>
                                <p>11:00 AM - 12:30 PM</p>
                            </div>
                        </div>
                    </div>
                    <div class="ubox">
                        <div class="ub1">
                            <div class="ub11">
                                <p>Tuesday</p>
                            </div>
                            <div class="ub12">
                                <p>Today</p>
                            </div>
                        </div>
                        <div class="ub2">
                            <div class="udate">
                                <p>8</p>
                                <p>Apr</p>
                            </div>
                            <div class="uevent">
                                <p>Career Guidance Session</p>
                                <p>11:00 AM - 12:30 PM</p>
                            </div>
                        </div>
                    </div>
                    <div class="ubox">
                        <div class="ub1">
                            <div class="ub11">
                                <p>Tuesday</p>
                            </div>
                            <div class="ub12">
                                <p>Today</p>
                            </div>
                        </div>
                        <div class="ub2">
                            <div class="udate">
                                <p>8</p>
                                <p>Apr</p>
                            </div>
                            <div class="uevent">
                                <p>Career Guidance Session</p>
                                <p>11:00 AM - 12:30 PM</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="index.js"></script>
</body>
</html>