
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="navbar.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   
</head>
<body>
    <section>
        <header>
            <a href="#" class="logo"><img src="/images/logo_final.jpg"></a>
            <a class="toggle">Menu</a>
            <ul class="">
                <li><a href="#">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li><select id="loginOption">
                    <option value="login">Login</option>
                    <option value="student">Login as Student</option>
                    <option value="teacher">Login as Teacher</option>
                </select>
                </li>
                <li><select id="loginOption2">
                    <option value="login">Signup</option>
                    <option value="student">Signup as Student</option>
                    <option value="teacher">Signup as Teacher</option>
                </select>
                </li>
            </ul>
        </header>
        <div id="maincenter">
            <div class="slideshow-container">
                
                <div class="mySlides">
                    <div class="background-image" style="background-image: url('yoga.jpg'); opacity: 1;">
                        <div class="text">
                    
                        </div>
                    </div>
                </div>
            
                <div class="mySlides">
                    <div class="background-image" style="background-image: url('dance.jpg'); opacity: 1;">
                        <div class="text">
                           
                        </div>
                    </div>
                </div>
            
                <div class="mySlides">
                    <div class="background-image" style="background-image: url('IMG-20240406-WA0009.jpg'); opacity: 1;">
                        <div class="text">
                           
                            
                        </div>
                    </div>
                </div>
                <div class="mySlides">
                    <div class="background-image" style="background-image: url('chem.jpg'); opacity: 1;">
                        <div class="text">
                            
                        </div>
                    </div>
                </div>
                <div class="mySlides">
                    <div class="background-image" style="background-image: url('IMG-20240406-WA0012.jpg'); opacity: 1;">
                        <div class="text">
                         
                            
                        </div>
                    </div>
                </div>
                <div class="mySlides">
                    <div class="background-image" style="background-image: url('library-interior-interior-design-books-wallpaper-preview.jpg'); opacity: 1;">
                        <div class="text">
                         
                            
                        </div>
                    </div>
                </div>
            
              
                <div style="text-align:center">
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>
            </div>
        </div>

        <div class="parent_mount">
            <div class="text-content_mount">
    <h1>FACILITIES AT MOUNT LITERA, PATNA</h1>
    <h4>Top Class Facilities For Your Child</h4>
            </div>
            <button><a href="/college_data">Start Your Journey</a></button>
        </div>

        <div class="parent">
           
            <div class="child">
                <div class="box1_img" style="background-image: url('library.jpg'); opacity: 1;">
                    <div class="box_text">
                        <h1>Library</h1>
                        
                    </div>
                </div>
            </div>
    
         
            <div class="child">
                <div class="box1_img" style="background-image: url('computer.jpg'); opacity: 1;">
                    <div class="box_text">
                        <h1>Computer Lab</h1>
                    </div>
                </div>
            </div>
    
        
            <div class="child">
                <div class="box1_img" style="background-image: url('science.jpg'); opacity: 1;">
                    <div class="box_text">
                        <h1>Science Lab</h1>
                    </div>
                </div>
            </div>
    
          
            <div class="child">
                <div class="box1_img" style="background-image: url('music.jpg'); opacity: 1;">
                    <div class="box_text">
                        <h1>Music</h1>
                        
                    </div>
                </div>
            </div>
        </div>





        </div>

        <div class="card-area">
            <div class="wrapper">
                <div class="box-area">
                    <div class="box">
                        <img src="IMG-20240406-WA0013.jpg" alt="">
                        <div class="overlay">
                            <h3>Dashboard</h3>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure enim voluptate ab.</p>
                            <a href="#">Book Now</a>
                        </div>
                    </div>
                    <div class="box">
                        <img src="istockphoto-1308634001-612x612 - Copy.jpg" alt="">
                        <div class="overlay">
                            <h3>Reports</h3>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure enim voluptate ab.</p>
                            <a href="#">Book Now</a>
                        </div>
                    </div>
                    <div class="box">
                        <img src="istockphoto-949118068-612x612 - Copy.jpg" alt="">
                        <div class="overlay">
                            <h3>Admission</h3>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure enim voluptate ab.</p>
                            <a href="#">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-marquee">
          
            <div class="text-marquee">
                <div class="marquee">
                   <h1>"In education technology can be a life-changer,a game changer,for kids who are both in school and out of school</h1>
                </div>
            </div>
        </div>
        
        <div class="parent">
           
            <div class="child">
                <h2>Why Sport Is Important</h2>
                <p>It is a widely known fact that sports are a way to stay healthy and in shape, but their importance goes much further</p>
                <a href="#">Read More</a>
            </div>
    
            <div class="child">
                <h2>Benefits Of Balanced Diet</h2>
                <p>A healthy balanced diet for students provides a number of essential vitamins, minerals and other nutritive elements</p>
                <a href="#">Read More</a>
            </div>
    
          
            <div class="child">
                <h2>Education Is Important</h2>
                <p>Theoretical education though lays the foundation of the knowledge of any course, but it is the practical education</p>
                <a href="#">Read More</a>
            </div>
    
          
            <div class="child">
                <h2>Life Skills</h2>
                <p>Life Skills are critical for leading life powerfully. Our students emerge out of school with the following life skills</p>
                <a href="#">Read More</a>
            </div>
        </div>

        <div class="footer">
            <footer>
                <div class="footer-content">
                    <div class="footer-links">
                        <a href="#">Home</a>
                        <a href="#">About Us</a>
                        <a href="#">Services</a>
                        <a href="#">Contact Us</a>
                    </div>
                    <p class="footer-text">&copy; 2024 Your Company. All rights reserved.</p>
                </div>
            </footer>

        </div>
    </section>
   
     <script>
        $(document).ready(function(){
            $('.toggle').click(function(){
                $('ul').toggleClass('active');
            })
        
        
            var slideIndex = 0;
        showSlides();
        
        function showSlides() {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slideIndex++;
            if (slideIndex > slides.length) {slideIndex = 1}
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex-1].style.display = "block";
            dots[slideIndex-1].className += " active";
            setTimeout(showSlides, 3000); 
        }
        })
        document.getElementById('loginOption').addEventListener('change', function() {
            const selectedOption = this.value;
            console.log("hello")
            if (selectedOption === 'student') {
                window.location.href = '/logins';
            } else if (selectedOption === 'teacher') {
                console.log("hell")
                window.location.href = '/logint';
              
            }
        });
        document.getElementById('loginOption2').addEventListener('change', function() {
            const selectedOption = this.value;
            console.log("hello")
            if (selectedOption === 'student') {
                window.location.href = '/signups';
            } else if (selectedOption === 'teacher') {
                window.location.href = '/signupt';
            }
        });
        
        
     </script>

</body>
</html>