<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" href="logo2.png">
    <link rel="stylesheet" href="services.css">
</head>
<body>
    <section>
        <header>
            <a href="#" class="logo"><img src="logo2.png"></a>
            <a class="toggle">Menu</a>
            <ul class="">
                <li><a href="/navbar">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="/login">Login/SignUp</a></li>
            </ul>
        </header>
    </section>
    <div class="card-area">
        <div class="wrapper">
            <div class="box-area">
                <div class="box">
                    <img src="images/about_us.jpg" alt="">
                    <div class="overlay">
                        <h3>Dashboard</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure enim voluptate ab.</p>
                        <a href="#">Book Now</a>
                    </div>
                </div>
                <div class="box">
                    <img src="images/about_us.jpg" alt="">
                    <div class="overlay">
                        <h3>Reports</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure enim voluptate ab.</p>
                        <a href="#">Book Now</a>
                    </div>
                </div>
                <div class="box">
                    <img src="images/about_us.jpg" alt="">
                    <div class="overlay">
                        <h3>Admission</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure enim voluptate ab.</p>
                        <a href="#">Book Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>