@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0px;
    box-sizing: border-box;
    padding:0px;
    font-family: 'Poppins', sans-serif;
}
section{
    /* background-color: rgba(16,41,110,255); */
    height:100px;
    display: flex;
   
}
.image{
    margin-top: 10px;
    height:80px;
    width:90px;
}
.main1{
    width:16%;
    display:flex;
    border-bottom: 2px solid white; 
    background-color: rgba(16,41,110,255);
    color: white;
}
.main1 .content2 p{
    margin-top: 30px;
}
.main2{
   display: flex;
   justify-content: space-between;
   flex-direction:row;
   border-bottom: 2px solid rgb(178, 174, 174);
}
.main2 .profile .pimg img{
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 50%;
}
.main2 .profile{
    display: flex;
    margin-left: -6vw;
    margin-top: 2.3vh;
}
.main2 .profile .p-cont{
    display: flex;
    flex-direction: column;
    margin-left: 1vw;
    margin-top: 0.4vh;
}
.main2 .profile .p-cont .one{
    font-size: 1.2rem;
    font-weight: bold;
}
.main2 .profile .p-cont .second{
    font-size: 0.7rem;
}
.search{
    display: flex;
    flex-direction: row;
    width:64vw;
    margin-top: 35px;
    margin-left: 40px; 
}
.search i{
    color: black;
    
    border: 2px solid black;
    padding:10px;
    height: 35px;
    font-size: 13px;
    border-radius: 10px 0px 0px 10px;
    border-right: none;
}
.search input{
    width:280px;
    height:35px;
    border-radius: 0px 10px 10px 0px ;  
    padding: 10px;
    border-left: none;
    /* border: none; */
}

.container{
    height:840px;
    width:100%;
    display: flex;
    background-color: rgba(229,236,255,255);
}
.one1{
    background-color: rgba(16,41,110,255);
    color: white;
    height:840px;
    width:16%;
}
.sec1 h4{
    margin-top: 1vh;
    margin-left: 2vw;
}
.sec1 ul{
    margin-left: 1.5vw;
    list-style: none;
    margin-top: 0.5vh;
}
.sec1 ul li{
    height:35px;
    width:90%;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 5px 0px 2px 19px;
    background-color:rgb(28, 55, 193);
    margin-bottom: 5px;
}
.sec1 ul li a{
    color: white;
    text-decoration: none;
}
.sec1 ul li:hover{
    background-color: rgba(39,77,167,255);
}
.sec2 h4{
    margin-top: 1vh;
    margin-left: 2vw;
}

.sec2 ul{
    margin-left: 1.5vw;
    list-style: none;
    margin-top: 0.5vh;
}
.sec2 ul li{
    height:35px;
    width:90%;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 5px 0px 2px 19px;
    background-color:rgb(28, 55, 193);
    margin-bottom: 12px;
}
.sec2 ul li a{
    color: white;
    text-decoration: none;
}
.sec2 ul li:hover{
    background-color: rgba(39,77,167,255);
}
.sec3 h4{
    margin-top: 1vh;
    margin-left: 2vw;
}
.sec3 ul{
    margin-left: 1.5vw;
    list-style: none;
    margin-top: 0.5vh;
}
.sec3 ul li{
    height:35px;
    width:90%;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 5px 0px 2px 19px;
    background-color:rgb(28, 55, 193);
    margin-bottom: 12px;
}
.sec3 ul li a{
    color: white;
    text-decoration: none;
}
.sec3 ul li:hover{
    background-color:rgba(39,77,167,255);
}
.sec4 h4{
    margin-top: 1vh;
    margin-left: 2vw;
}
.sec4 ul{
    margin-left: 1.5vw;
    list-style: none;
    margin-top: 0.5vh;
}
.sec4 ul li{
    height:35px;
    width:90%;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 5px 0px 2px 19px;
    background-color:rgb(28, 55, 193);
    margin-bottom: 12px;
}
.sec4 ul li a{
    color: white;
    text-decoration: none;
}
.sec4 ul li:hover{
    background-color:rgba(39,77,167,255);
}
.one2{
    height:100%;
    display: flex;
    flex-direction: column;
}
.one2 .otop{
    display: flex;
    justify-content: space-between;
}
.one2 .otop .main{
    display: flex;
    margin-top: 4vh;
    margin-right: 3vh;
    color: white;
    padding: 10px;
    border-radius: 13px;
    background-color:rgb(28, 55, 193);
}
.one2 .otop .main:hover{
    box-shadow: 0px 0px 4px blue;
}
.one2 .otop .main i{
    margin-top: 0.6vh;
    margin-right: 1vh;
}
.container .one2 h2{
    margin-top: 4vh;
    margin-left: 8vh;
}
.one2 .table1{
    margin-left: 7vh;
    margin-top: 4vh;
    width: 70vw;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}
