<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" href="logo2.png">
    <link rel="stylesheet" href="syllabus.css">
    <script
    src="https://kit.fontawesome.com/42a182743f.js"
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

</head>
<body>
    <section>
       <div class="main1">
        <div class="content1">
            <img class="image" src="logo2.png" alt="">
        </div>
        <div class="content2">
            <p>Sri Sai Inter College</p>
        </div>
       </div>
       <div class="main2">
        <div class="search">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="search" placeholder="Search Students, Staffs, Events....">
        </div>
        <div class="profile">
            <div class="pimg"><img src="images/student.jpg" alt=""></div>
            <div class="p-cont">
            <p class="one">Karan Nigam</p>
            <p class="second">10-A</p>
        </div>
            
        </div>
       </div>
    </section>
    <div class="container">
        <div class="one1">
            <div class="sec1">
                <h4>Main</h4>           
                <ul>
                    <li><a href="/dashboard">Dashboard</a></li>
                </ul>
            </div>
            <div class="sec2">
                <h4>Administration</h4>           
                <ul>
                    <li><a href="dashboard.html">Academics</a></li>
                    <li><a href="https://www.topperlearning.com/">Study Material</a></li>
                    <li><a href="start.html">Students Info</a></li>
                </ul>
            </div>
            <div class="sec3">
                <h4>Student</h4>           
                <ul>
                    <li><a href="student_profile.html">Student Profile</a></li>
                    <li><a href="fees.html">Student Fees</a></li>
                    <li><a href="homework-section.html">Homework</a></li>
                    <li><a href="dashboard.html">Transport</a></li>
                    <li><a href="dashboard.html">Library</a></li>
                </ul>
            </div>
            <div class="sec4">
                <h4>Exams</h4>           
                <ul>
                    <li><a href="dashboard.html">Date Sheet</a></li>
                    <li><a href="syllabus.html">Syllabus</a></li>
                </ul>
            </div>
        </div>
        <div class="container1">
            <h2>Select Class</h2>
            <select id="class-selector">
              <option value="0">Class</option>
              <option value="1">Class 1</option>
              <option value="2">Class 2</option>
              <option value="3">Class 3</option>
              <option value="4">Class 4</option>
              <option value="5">Class 5</option>
              <option value="6">Class 6</option>
              <option value="7">Class 7</option>
              <option value="8">Class 8</option>
              <option value="9">Class 9</option>
              <option value="10">Class 10</option>
              <option value="11">Class 11</option>
              <option value="12">Class 12</option>
            </select>
            <div id="syllabus-display">
             <p> Select your Class to see your Syllabus</p>
            </div>
        </div>
    </div>
    <script src="syllabus.js"></script>

</body>
</html>